@model IEnumerable<ShirlyStudio.Models.Category>

@{
    ViewData["Title"] = "רשימת קטגוריות";
}
@{
    Layout = "~/Views/Shared/_Layout-page.cshtml";
}


<h2>רשימת קטגוריות</h2>

<p>
    <a asp-action="Create">הוספת קטגוריה חדשה</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">עריכה</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">פרטים</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">מחיקה</a>
                </td>
            </tr>
        }
    </tbody>
</table>
