@model WebApplication4.Models.Workshop

@{
    ViewData["Title"] = "מחיקת סדנה";
}

@{
    Layout = "~/Views/Shared/_Layout-page.cshtml";
}


<h2>מחיקת סדנה</h2>

<h3>?האם את בטוחה שאת רוצה למחוק סדנה זו</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FullData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullData)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Available_Members)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Available_Members)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="מחיקה" class="btn btn-default" />
        <a asp-action="Index">חזרה לרשימה</a>
    </form>
</div>
