@model IEnumerable<WebApplication4.Models.Workshop>


   @{ ViewData["Title"] = "Index";
    }
   
        <body>
            <div>
                <input type="text" name=" = " name" />
                <input type="submit" value="Filter" class="btn btn-danger" />
                @section Scripts{
                    <script src="~/js/jquery-3.3.1.js"></script>
                    <script id="row" type="template">
                        <tr>
                            <td>
                                {{Name}}
                                @*@Html.DisplayFor(modelItem => item.Name)*@
                            </td>
                            <td>
                                {{FullData}}
                                @*@Html.DisplayFor(modelItem => item.FullData)*@
                            </td>
                            <td>
                                {{Duration}}
                                @*@Html.DisplayFor(modelItem => item.Duration)*@
                            </td>
                            <td>
                                {{Price}}
                                @*@Html.DisplayFor(modelItem => item.Price)*@
                            </td>
                            <td>
                                {{Available_Members}}
                                @*@Html.DisplayFor(modelItem => item.Available_Members)*@
                            </td>
                            <td>
                                {{Description}}
                                @*@Html.DisplayFor(modelItem => item.Description)*@
                            </td>
                        </tr>
                    </script>
                    <script>
                        $(function () {
                            $('input').keyup(function () {
                                $.ajax(
                                    {
                                        type: "Get",
                                        dataType: "json",
                                        url: "/Workshops/Filter/?name=" + $(this).val(),
                                        success: function (data) {
                                            $('tbody tr').remove();
                                            var temp = $.trim($('#row'));
                                            console.log(data);
                                            console.log(temp);
                                            $.each(data, function (index, element) {
                                                console.log(element);
                                                $('tbody').append(
                                                    `<tr><td>${element.name}</td><td>${element.fullData}</td><td>${element.duration}</td><td>${element.price}</td><td>${element.available_Members}</td><td>${element.description}</td>`
                                                )
                                            });
                                        }
                                    }
                                );
                            }
                            )
                        }
                        )




                    </script>
                }

            </div>
        </body>

    

    <h2>Index</h2>


    <p>
        <a asp-action="Create">Create New</a>
    </p>
   @**@ <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FullData)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Available_Members)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullData)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Available_Members)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
           
        </tbody>
     
    </table>
