@model IEnumerable<WebApplication4.Models.Workshop>

@{ ViewData["Title"] = "רשימת סדנאות";
}

@{
    Layout = "~/Views/Shared/_Layout-page.cshtml";
}

<script src="~/js/jquery-3.3.1.js"></script>

<body>

    <div>

        @section Scripts{
            <script id="row" type="template">
                <tr>
                    <td>
                        {{Name}}
                        @*@Html.DisplayFor(modelItem => item.Name)*@
                    </td>
                    <td>
                        {{FullData}}
                        @*@Html.DisplayFor(modelItem => item.FullData)*@
                    </td>
                    <td>
                        {{Duration}}
                        @*@Html.DisplayFor(modelItem => item.Duration)*@
                    </td>
                    <td>
                        {{Price}}
                        @*@Html.DisplayFor(modelItem => item.Price)*@
                    </td>
                    <td>
                        {{Available_Members}}
                        @*@Html.DisplayFor(modelItem => item.Available_Members)*@
                    </td>
                    <td>
                        {{Description}}
                        @*@Html.DisplayFor(modelItem => item.Description)*@
                    </td>
                </tr>
            </script>
            <script>
                $(function () {

                    // לשנות את המשתנה שנכנס לפי id , price...
                    $('#Name,#price,#available_members').keyup(function () {
                        $.ajax(
                            {
                                type: "Get",
                                dataType: "json",

                                url: "/Workshops/Filter/?name=" + $(Name).val() + '&price=' + $(price).val() + '&available_members=' + $(available_members).val(),
                                success: function (data) {
                                    $('tbody tr').remove();
                                    var temp = $.trim($('#row'));
                                    console.log(data);
                                    console.log(temp);
                                    $.each(data, function (index, element) {
                                        console.log(element);
                                        $('tbody').append(
                                            `<tr><td>${element.name}</td><td>${element.fullData}</td><td>${element.duration}</td><td>${element.price}</td><td>${element.available_Members}</td><td>${element.description}</td>`
                                        )
                                    });
                                }
                            }
                        );
                    }
                    )
                }

                )
            </script>
        }
    </div>


    <input id="Name" type="text" name=" = " name" />
    <input type="submit" value="לפי סדנה" id="filter-button" />
    <input id="price" type="text" name=" = " name" />
    <input type="submit" value="עד מחיר" id="filter-button" />
    <input id="available_members" type="text" name=" = " name" />
    <input type="submit" value="מס' מקומות" id="filter-button" />
</body>

<h2>רשימת סדנאות</h2>

<p>
    <a asp-action="Create">יצירת סדנה חדשה</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available_Members)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>


    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Available_Members)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">עריכה</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">פרטים</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">מחיקה</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h1>סדנאות לפי מחירים</h1>
<canvas id="myChart"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


@* for graphs*@
<div>
    <script>

        $.ajax(
            {
                type: "Get",
                dataType: "json",
                url: "/Workshops/GetRecordsMonthly",
                success: function (data) {
                    console.log(data);
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var lables = [];
                    var price = [];
                    for (i in data) {
                        lables.push(data[i].name);
                        price.push(data[i].price);
                        
                    }

                    var chart = new Chart(ctx, {
                        // The type of chart we want to create
                        type: 'line',

                        // The data for our dataset
                        data: {

                            labels: lables,
                            datasets: [{
                                label: "סדנאות לפי מחירים",
                                backgroundColor: 'rgb(255, 99, 132)',
                                borderColor: 'rgb(255, 99, 132)',
                                data: price,
                            }]
                        }
                        
                    });
                }
            }
        );

    </script>
</div>
<h1>סדנאות לפי מקומות פנויים</h1>

<div>
    <canvas id="myChart2"></canvas>
    <script>
        $.ajax(
            {
                type: "Get",
                dataType: "json",
                url: "/Workshops/Getfreeplace",
                success: function (data) {
                    console.log(data);
                    var ctx = document.getElementById('myChart2').getContext('2d');
                    var lables = [];
                    var ams = [];
                    for (i in data)
                    {
                        lables.push(data[i].name);
                        ams.push(data[i].available_Members);
                    }

                    var chart = new Chart(ctx, {
                        // The type of chart we want to create
                        type: 'line',
                        
                
                        // The data for our dataset
                        data: {
                            labels: lables,
                            datasets: [{
                                label: "סדנאות לפי מקומות פנויים",
                                backgroundColor: 'rgb(152, 99, 132)',
                                borderColor: 'rgb(152, 99, 132)',
                                data: ams
                            }]
                        }

                        
                    });
                }
            }
        );


    </script>
</div>

