@model WebApplication4.Models.Customer

@{
    ViewData["Title"] = "מחיקת לקוח";
}

@{
    Layout = "~/Views/Shared/_Layout-page.cshtml";
}

<h2>מחיקת לקוח</h2>
<h3>?האם את בטוחה שאת רוצה למחוק לקוח זה</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="מחיקה" class="btn btn-default" /> |
        <a asp-action="Index">בחזרה לרשימה</a>
    </form>
</div>
